@font-face {
    font-family: 'Conv_leto';
    src: url('fonts/leto.eot');
    src: local('☺'), url('fonts/leto.woff') format('woff'), url('fonts/leto.ttf') format('truetype'), url('fonts/leto.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}




.some{
    color: brown;
    font-family: 'Conv_leto';
    font-style: normal;
}
